*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}

::-moz-selection {
    background-color: #056c51; /* цвет фона выделения для Firefox */
    color: #ffffff; /* цвет текста в выделенной области для Firefox */
}
  
::selection {
    background-color: #056c51; /* цвет фона выделения для большинства браузеров */
    color: #ffffff; /* цвет текста в выделенной области для большинства браузеров */
}

body{
    overflow-x: hidden;
    min-width: 1400px;
    background-color: #d9dbdd;
}
a {
    text-decoration: none;
}

header {
    width: 100%;
}

#main_nav{
    display: flex;
    justify-content: center;
    height: 220px;
    background-color: rgb(217, 219, 221);
}


#top_nav {
    display: flex;
    width: 100%;
    max-width: 1000px;

}

#nav_logo {
    max-width: 300px;
    height: auto;
    margin-top: -20px;
}

#nav_logo_photo{
    max-width: 300px;
    margin-top: -25px;
}

#top_nav_right_menu_top_info{
    display: flex;
    flex-wrap: nowrap;
}

#top_nav_right_menu{
    margin: 0;
    padding: 0;
    max-width: 800px;
}

#top_nav_right_menu_top {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#languages {
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
    margin-left: 30%;
}

#languages_list {
    display: flex;
    justify-content: center;
    letter-spacing: 15px;
    list-style-type: none;
    font-size: 20px;
}

.languages_ua {
    padding: 20px 10px;
    font-size: 90%;
}

.languages_ua a {
    color: #23573b;
    text-decoration: none;
    padding: 0 10px;
    border-right: 2px solid green;
    font-weight: bold;
}

.languages_en {
    padding: 20px 10px;
    color: #23573b;
    text-decoration: none;
    font-weight: 400;
    font-size: 90%;
}

#contact_img {
    width: 100%;
    max-width: 230px;
    margin-top: 13px;
}

.contant_photo {
    width: 35px;
    margin: 10px;
}

#nav_text {
    width: 100%;
    height: auto;
}

#nav_text_inside {
    width: 100%;
    font-size: 20px;
    margin-top: 60px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

nav .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background: #23573b;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 40px 0 0;
    opacity: .4;
    transition: all 0.4s ease;
}

nav_text_inside a{
    word-spacing: 100%;
}

nav ul li:hover {
    opacity: .7;
}

nav ul li.active {
    opacity: 1;
}
nav ul li:last-child {
    margin-right: 0;
}
    
nav ul li a {
    text-decoration: none;
    color: #23573b;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 14px;
}
    
#business_card {
    width: 100%;
    display: flex;
    height: 830px;
    justify-content: center;
    background-color: rgb(217, 219, 221); /* спросить у поли */
}

#business_card_photo{
    width: 100%;
    max-width: 2200px;
    height: auto;
    text-align: -webkit-center;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.76)), url(photos/background-photo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    word-break: break-all;
}

#business_card_text{
    margin-top: 33%;
    max-width: 1050px;
    position:static;
    word-break: break-all;
}

#business_card_text_tagline{
    font-size: 500%;
    color: white;
    text-align: center;
    font-family: 'Montserrat Alternates';
}


#offer{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: rgb(217, 219, 221);
    justify-content: center;
    transition: width 0.5s, height 0.5s; /* Add transitions for width and height */
}

#offer_faq{
    width: 1100px;
    height: 850px;
    margin-top: 1%;
}

#main_descripton{
    text-align: center;
    padding: 0px 0px 10px 40px;
}

#description{
    font-size: 150%;
}

.faqs-container {
    overflow: hidden;
}

.faq-singular {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 30px 0 0;
}

.faq-singular .faq-question {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 25px 25px 25px 0px;
    font-weight: 700;
    font-size: 24px;
}

.faq-singular .faq-question:before {
    position: absolute;
    content: "+";
    color: #808080;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    font-weight: 700;
    transition: all 0.5s;
}

.faq-singular.active .faq-question:before {
    transform: translateY(-50%) rotate(45deg) scale(1.3);
}

#offer.expanded {
    height: 570px; 
    transition: all 0.5s;
}

#offer.expanded_2 {
    height: 600px; 
    transition: all 0.5s;
}

#offer.expanded_3{
    height: 700px; 
    transition: all 0.5s;
}

#offer.expanded_4{
    height: 570px; 
    transition: all 0.5s;
}

.faq-answer {
    display: none;
    padding-bottom: 20px;
    font-size: 134%;
}

.faq-singular ul .faq-list-item {
    position: relative;
    padding-left: 40px;
    list-style-type: none;
    margin: 0 0 10px 0;
}

.faq-singular ul .faq-list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-image: url('photos/icons/auction-line.png');
    background-size: contain; /* Changed from 'cover' to 'contain' */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.close {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay-content {
    color: #fff;
    font-size: 24px;
    width: 70%;
    background: #23573b;
    font-weight: normal;
}

.overlay-content p {
    padding: 20px;
}



#description_more{
    font-size: 140%;
    font-weight: bold;
    color: #165f38;
    cursor: pointer;
}
#quote{

    max-width: 1100px;
    height: auto;
    margin-top: 65%;
    margin-left: -100%;
    text-align: center;
}

#quote_text{
    font-size: 31px;
}



#team{
    width: 100%;
    height: 2500px;
    background-color: #d9dbdd;
}

#team_all{
    max-width: 100%;
    height: 800px;
}

#team_all_photo{
    margin-top: 5%;
} 
#our_team{
    max-width: 100%;
    overflow: hidden;
}

#our_team_top{
    width: 100%;
    height: 450px;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
    margin-left: -8vw;
}

#our_team_bottom{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    margin-top: 180px;
    justify-content: space-evenly;
    margin-left: -8vw;
    
}

/* Content-1:Start */

.box {
    max-width: 450px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background: #ededed;
    position: absolute;    
}
  
.content {
    margin: 15px 2px;
}
  
.image img {
    height: 380px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 25px;
}

#anton_photo{
    width: 320px;
}

.level {
    font-size: 0.7em;
    background-color: rgb(164, 189, 183, 0.5);
    width: 75px;
    padding: 3px;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: 1px;
    display: block;
    margin: 0px auto 10px;
}

#dmytro_level{
    width: 125px;
}

#david_level{
    width: 105px;
}

.name{
    font-size: 1.25em;
    font-weight: bolder;
    letter-spacing: 1px;
}
  
.job_title{
    font-size: 0.65em;
    font-weight: bolder;
    color: gray;
    margin-top: -2px;
}
  
.job_discription{
    font-size: 0.7em;
    color: gray;
    margin: 10px 30px 20px;
}
  
#logo_phone{
    display: flex;
}
  
#logo_email{
   display: flex;
}
  
#logo_phone:hover{
  color: rgb(34, 95, 62);
}
  
#logo_email:hover{
    color: rgb(34, 95, 62);
}
  
.icons button{
    width: fit-content;
    height: fit-content;
    border: none;
    font-size: 1em;
}
  
ion-icon:hover{
    color: #23573bce;
    transition: 0.5s;
}
  
button{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-weight: bolder;
}
  
.button{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 20px 30px 0px;
}
  
.button .message{
    background: #ededed;
    border: 2px solid #000;;
}
  
.button .connect{
    background-color: #23573b;
    color: #ededed;
    border: none;
    margin: 0 10px;
}
button.connect:hover{
  letter-spacing: 1px;
  transition: 0.5s;
}
button.message:hover{
  letter-spacing: 1px;
  transition: 0.5s;
  background: #23573bce;
}
  /* Content-1:End */
  
.items {
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}
.items .item{
    position: absolute;
    margin-top: 5%;
    left: 20%;
    width: 1200px;
    height: 800px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}
  
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active{
    opacity: 1;
    z-index: 99;
}
  
.item.prev{
    z-index: 2;
    opacity: 0.25;
    transform: translate(-100%);
}
  
.item.next{
    z-index: 2;
    opacity: 0.25;
    transform: translate(100%);
    width: 40%;
}


.items .button-container{
    position: absolute;
    width: 275px;
    z-index: 100;
}
  
#btn2{
    transform: rotate(-180deg);
    position: absolute;
    left: 94vw;
    top: 40vh;
}

#btn1{
    position: absolute;
    left: 4vw;
    top: 35vh;
}

.button-container .button:nth-child(1) {
    float: left;
}
  
.button-container .button:nth-child(2) {
    float: right;
}


#our_team_description{
    width: 100%;
    height: 180px;
    margin-top: 3%;
}

#our_team_description_text{
    width: 80%;
    height: 300px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

#our_team_description_text_tagline{
    font-size: 200%;
    text-align: center;
}


#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #23573b;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999;
}

#topButton.show {
    opacity: 1;
}

footer{
    width: 100%;
    height: 800px;
    background-color: #23573b;

}

#footer_info{
    width: 100%;
    height: 100%;
    display: flex;
}

#footer_left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#footer_left_contact{
    max-width: 37rem;
    height: 25rem;
    border-radius: 63px;
    background: #23573b;
    box-shadow:  50px 50px 100px #1d4831,
                 -50px -50px 100px #296645;
}

#footer_right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#footer_right_map{
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    height: 90%;
}

#footer_adres{
    width: 100%;
    height: auto; 
    display: flex;
}

#footer_adres_icon{
    width: 50px;
    height: auto;
    margin-left: 30px;
    margin-top: 30px;
}

#footer_adres_text{
    color: white;
    font-size: 120%;
    margin-left: 10px;
    margin-top: 50px;
}

#footer_phone{
    width: 100%;
    height: auto;
    display: flex;
}

#footer_phone_icon{
    width: 50px;
    height: auto;
    margin-left: 30px;
    margin-top: 30px;
}

#footer_phone_text{
    color: white;
    font-size: 120%;
    margin-left: 10px;
    margin-top: 50px;
}

#footer_mail{
    width: 100%;
    height: auto; 
    display: flex;
}

#footer_mail_icon{
    width: 50px;
    height: auto;
    margin-left: 30px;
    margin-top: 30px;
}

#footer_mail_text{
    color: white;
    font-size: 120%;
    margin-left: 10px;
    margin-top: 50px;
}

#footer_quote{
    width: 100%;
    height: auto;
}
#footer_quote_text{
    color: white;
    font-size: 160%;
    text-align: center;
}

#topButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #23573b;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999;
}

#topButton.show {
    opacity: 1;
}

